[phases.setup]
nixPkgs = ["nodejs-18_x", "yarn", "openssl"]

[phases.install]
cmds = ["yarn install"]

[phases.build]
cmds = [
  "yarn workspace @pixeltrace/shared-types build",
  "yarn workspace web build"
]

[start]
cmd = "yarn workspace web start"
