[phases.setup]
nixPkgs = ["nodejs-18_x", "yarn", "openssl"]

[phases.install]
cmds = ["yarn install"]

[phases.build]
cmds = [
  "yarn workspace @pixeltrace/shared-types build",
  "yarn workspace @pixeltrace/risk-engine build",
  "yarn workspace api prisma:generate",
  "yarn workspace api build"
]

[start]
cmd = "yarn workspace api prisma:migrate:deploy && yarn workspace api start"
